.auth-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
    padding: 2rem;
}

.svg-container {
    width: 100%;
    position: relative;
    width: 800px;
}

.svg-content {
    width: 100%;
}

.auth-left {
    font-size: 1.5rem;
}

@media (min-width: 600px) {
    .auth-left {
        font-size: 2.5rem;
        max-width: 600px;
    }
}
