nav {
    position: fixed;
    background: var(--bg-color-secondary);
    top: 0;
    left: 0;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

nav a {
    padding: 3rem;
}

a:hover .svg-inline--fa {
    color: #01a3ff;
}

.svg-inline--fa {
    font-size: 1.5rem;
    color: var(--txt-color-primary);
}

@media (max-width: 768px) {
    nav {
        top: unset;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        height: unset;
    }

    nav a {
        padding: 0;
        margin: 2rem;
    }
}
