h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

.app {
    max-width: 1600px;
    margin: auto;
}

.login-btn {
    width: 100%;
    text-align: center;
    position: relative;
    background: #fff;
    padding: 1em;
    border-radius: 5px;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    opacity: 0.9;
}

.tiles-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(500px, auto);
}

.tile-container {
    border-radius: 1em;
    background: var(--bg-color-secondary);
    padding: 1.5rem;
}

header {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

nav {
    justify-self: center;
}

.header-user-info {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-self: end;
}

.user-photo {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-left: 1rem;
    border: 3px solid var(--txt-color-primary);
}
