.main-content {
    height: 100%;
    width: 1000px;
    margin: auto;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

header {
    margin: 3rem 0;
}

.login-btn {
    width: 100%;
    text-align: center;
    position: relative;
    background: #fff;
    padding: 1em;
    border-radius: 5px;
    font-family: inherit;
    border: 0;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    opacity: 0.9;
}

.tiles-container {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.tile-container {
    border-radius: 1em;
    background: #333e62;
    min-height: 300px;
    padding: 1.5rem;
}
