:root {
    --bg-color-secondary: #333e62;
    --bg-color-primary: #0e1428;
    --txt-color-primary: #fff;
}

/* :root {
    --bg-color-secondary: #fff;
    --bg-color-primary: #f5f6fa;
    --txt-color-primary: #333e62;
} */

html {
    color: var(--txt-color-primary);
    box-sizing: border-box;
    font-family: Maven;
}

body {
    margin: 0;
    background: var(--bg-color-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Dosis";
    src: local("Dosis"), url(./fonts/Dosis/Dosis-VariableFont_wght.ttf) format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: "Quicksand";
    src: local("Quicksand"), url(./fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: "Vollkhorn";
    src: local("Vollkhorn"), url(./fonts/Vollkorn/Vollkorn-Regular.ttf) format("truetype");
    font-weight: 1 999;
}

@font-face {
    font-family: "Maven";
    src: local("Maven"), url(./fonts/Maven_Pro/MavenPro-VariableFont_wght.ttf) format("truetype");
    font-weight: 1 999;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .body {
        margin: 0;
    }
}
