html {
    color: #fff;
    box-sizing: border-box;
    font-family: Quicksand;
}

body {
    margin: 1.5rem;
    background: #0e1428;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Dosis";
    src: local("Dosis"), url(./fonts/Dosis/Dosis-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: local("Quicksand"), url(./fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}
