.home-container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 6rem 2rem 12rem;
}

.home-container header {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
}

.home-title {
    font-size: 3rem;
    font-weight: 900;
}

.home-container section {
    max-width: 800px;
    margin: auto;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .home-title {
        font-size: 1.5rem;
    }

    .home-container {
        padding: 1rem;
    }
}
